/*playfair-display-<uniquifier>*/
 @font-face {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
    src: local('Playfair Display'),
     url('PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'),
     url('PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  }